{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"],
        "node": true
      }
    }],
    "flow"
  ],
  "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    "transform-flow-strip-types"
  ],
}
