{
  "env": {
    "es6": true,
    "node": true,
    "jest": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "plugin:fp/recommended",
    "plugin:jest/recommended",
    "prettier"
  ],
  "plugins": [
    "flowtype",
    "fp",
    "jest"
  ],
  "rules": {
    "class-methods-use-this": ["error", { "exceptMethods": ["action"] }],
    "max-len": ["error", { "code": 100 }],
    "no-throw-literal": "warn",
    "no-underscore-dangle": [ "error", { "allowAfterThis": true } ],
    "fp/no-class": "warn",
    "fp/no-mutation": "warn",
    "fp/no-mutating-methods": "warn",
    "fp/no-nil": 0,
    "fp/no-this": "warn",
    "fp/no-throw": 0,
    "fp/no-unused-expression": 0,
    "flowtype/no-types-missing-file-annotation": 1
  }
}
